@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .navBtn {
        @apply hidden h-6 md:inline-flex
        cursor-pointer hover:scale-125
        transition-all duration-150 ease-out;
    }

    .mega-menu {
        display: none;
        position: absolute;
        text-align: left;
        width: 50%;
        margin-left: 15px;
    }



    /* #hoverable Class Styles
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .hoverable {
        position: static;
    }

    .hoverable > a:after {
     /*   content: "\25BC";*/
        font-size: 10px;
        padding-left: 6px;
        position: relative;
        top: -1px;
    }

    .hoverable:hover .mega-menu {
        display: block;
    }


}